@import "{{ site.theme }}";


.btn-patrka54{
color:#b5e853 !important;
text-shadow: 0 1pcolor:#b5e853;x 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
}
.a-link-patrka54{
 text-decoration: none;
  color:#b5e853 !important;
}
